%html
 .chat-side
  .side-header
   .side-header__box
    %p.side-header__box__user-name NAME
    %ul.side-header__box__menu
     =link_to "/groups/new", class: "side-header__box__menu__new-group" do
      = fa_icon 'edit'
     =link_to "/edit/user", class: "side-header__box__menu__edit-user" do
      = fa_icon 'cog'

  .groups
   =link_to "/group/messages", class: "group" do
    .group
     %p.group__group-name エンジニアクラス
     %p.group__group-message ようこそ。